body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.button {
    margin: 15px 25%;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.5s;

    &:hover{
        color: #fff;
        background-color: @main-blue;
    }

    &:active{
        transform: scale(96%);
    }
}
