.task{
    display: flex;
    flex-direction: column;
    padding: 10px;

    input {
        border-radius: 5px;
        
        &:focus{
            background-color: #595dd239;
        }
    }
}

.task-title{
    font-size: 24px;
    font-weight: 700;
}

.task-description{
    background-color: #EFEFEF;

    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    border: none;
    resize: none;

    // delete
    height: 200px;
}

.task-date{
    padding: 20px;
    padding-left: 0;

    input{
        padding: 5px;
        margin: 5px;
        font-weight: 700;
        border: 1px solid @main-blue;
        border-radius: 5px;
    }
}

.task-button{
    background-color: @main-blue;
    color: #fff;
    border: none;
    margin-top: 105px;

    &:hover {
        background-color: #454ad6;
    }
}

.task-fileReal{
    display: none;
}

.task-fileFake{
    width: 170px;
    border: 1px solid @main-blue;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    &:hover{
        background-color: #595dd239;
    }
}