.todo{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.todo_block{
    width: 100%;
    height: 600px;
    max-height: 600px;

    border-radius: 10px;
    border: 2px solid @main-blue;
    margin: 5px;
}

.todo_block-title{
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    padding: 15px 0;
    color: @main-blue;
}

.todo_block_list{
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    max-height: calc(100% - 57px);
}

.todo_block_list::-webkit-scrollbar{
    width: 0;
}

.todo_block_list-task{
    display: flex;
    align-items: center;

    margin: 0 5px;

    & + & {
        margin-top: 10px;
    }
}

.todo_block_list-task-realCheckbox{
    display: none;

    &:checked + .todo_block_list-task-fakeCheckbox{
        background-color: @main-blue;
    }
}
.todo_block_list-task-fakeCheckbox{
    width: 20px;
    height: 20px;
    border: 1px solid @main-blue;
    border-radius: 3px;
    cursor: pointer;

    &:hover{
        background-color: #abaeef3e;
    }
}

.todo_block_list-task-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    border-radius: 5px;
    padding: 20px 10px;
    margin: 0 5px;

    cursor: pointer;
    overflow: hidden;

    h1{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover{
        background-color: @main-grey;
    }
  
}

.todo_block_list-task-delete{
    fill: @main-blue;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;

    &:hover{
        background-color: @main-grey;
    }
}

.list-task-active{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        display: inline;
        top: 48%;
        left: 0;
        background-color: @main-blue;
    }
}

.todo_block_list-button{

}