body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.button {
  margin: 15px 25%;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.5s;
}
.button:hover {
  color: #fff;
  background-color: #595dd2;
}
.button:active {
  transform: scale(96%);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input,
button,
textarea {
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}
button,
input[type="submit"] {
  background: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-family: inherit;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}
.todo {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.todo_block {
  width: 100%;
  height: 600px;
  max-height: 600px;
  border-radius: 10px;
  border: 2px solid #595dd2;
  margin: 5px;
}
.todo_block-title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  padding: 15px 0;
  color: #595dd2;
}
.todo_block_list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: calc(100% - 57px);
}
.todo_block_list::-webkit-scrollbar {
  width: 0;
}
.todo_block_list-task {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.todo_block_list-task + .todo_block_list-task {
  margin-top: 10px;
}
.todo_block_list-task-realCheckbox {
  display: none;
}
.todo_block_list-task-realCheckbox:checked + .todo_block_list-task-fakeCheckbox {
  background-color: #595dd2;
}
.todo_block_list-task-fakeCheckbox {
  width: 20px;
  height: 20px;
  border: 1px solid #595dd2;
  border-radius: 3px;
  cursor: pointer;
}
.todo_block_list-task-fakeCheckbox:hover {
  background-color: #abaeef3e;
}
.todo_block_list-task-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding: 20px 10px;
  margin: 0 5px;
  cursor: pointer;
  overflow: hidden;
}
.todo_block_list-task-info h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.todo_block_list-task-info:hover {
  background-color: #EFEFEF;
}
.todo_block_list-task-delete {
  fill: #595dd2;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
.todo_block_list-task-delete:hover {
  background-color: #EFEFEF;
}
.list-task-active {
  position: relative;
}
.list-task-active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  display: inline;
  top: 48%;
  left: 0;
  background-color: #595dd2;
}
.task {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.task input {
  border-radius: 5px;
}
.task input:focus {
  background-color: #595dd239;
}
.task-title {
  font-size: 24px;
  font-weight: 700;
}
.task-description {
  background-color: #EFEFEF;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
  border: none;
  resize: none;
  height: 200px;
}
.task-date {
  padding: 20px;
  padding-left: 0;
}
.task-date input {
  padding: 5px;
  margin: 5px;
  font-weight: 700;
  border: 1px solid #595dd2;
  border-radius: 5px;
}
.task-button {
  background-color: #595dd2;
  color: #fff;
  border: none;
  margin-top: 105px;
}
.task-button:hover {
  background-color: #454ad6;
}
.task-fileReal {
  display: none;
}
.task-fileFake {
  width: 170px;
  border: 1px solid #595dd2;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.task-fileFake:hover {
  background-color: #595dd239;
}
/*# sourceMappingURL=./main.css.map */